doctype html
html(lang="en")
  head
    title= 'app store search'
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css',rel="stylesheet")
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand App list
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a 搜索
            li
              a 排行
            li
              a 通知
    div.container
      div.result-list.row.J-list
      each item in items
        div.media
          div.media-left
            img.media-object(src="#{item.icon}")
          div.media-body
            a.media-heading(href="#{item.link}") #{item.name}
            p 设备支持: #{item.system}
            p ID: #{item.appid}
            p 价格: #{item.price}
            p 评分: #{item.rate} / 分类: #{item.category}
            p 发布时间: #{item.publishTime}
            p 描述: #{item.description}
      nav
        ul#pager.pager
          li
            a(href="/drop/#{currentPager-1 < 1 ? 1 : currentPager-1 }") 上一页
          li
            a #{currentPager} / #{totalPager}
          li
            a(href="/drop/#{currentPager+1 > totalPager ? totalPager : currentPager+1 }") 下一页
